html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
input[type="number"],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  color: inherit;
  text-decoration: none;
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

/* @media only screen and (max-width: 700px) {
  html {
    font-size: 54.5%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 48.5%;
  }
} */

/* Cursor */
.cursor {
  width: 20px;
  height: 20px;
  background-color: #0070f3;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
}

*:hover ~ .cursor,
a:hover ~ div.cursor,
button:hover ~ div.cursor,
p:hover ~ div.cursor,
span:hover ~ div.cursor,
h1:hover ~ div.cursor,
h2:hover ~ div.cursor,
img:hover ~ div.cursor,
h3:hover ~ div.cursor {
  transform: scale(5);
  opacity: 0.5;
  mix-blend-mode: difference;
}